{% extends "Base.jinja2" %}
{% block content %}
    <h1>Dummy Home Page</h1>
    <h2>Link to show graph</h2>
    <a href="{{ url_for('admin') }}">Admin</a>
{#    <a href="{{ url_for("home") }}">Home</a>#}
{% endblock %}
